body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.navbar-custom {
    background-color: #2c3e50;
    padding: 15px 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-style: italic;
    color: #ecf0f1;
    text-decoration: none;
}

.navbar-toggler {
    font-size: 24px;
    display: none;
    cursor: pointer;
    color: #ecf0f1;
    position: absolute;
    right: 20px;
    top: 15px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.navbar-nav a {
    text-decoration: none;
    color: #bdc3c7;
    font-size: 18px;
    padding: 0 15px;
}

.navbar-nav a:hover {
    color: #1abc9c;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #34495e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.navbar-nav li {
    position: relative;
}

.navbar-nav li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    margin: 15px 0;
}

.sub-menu a {
    font-size: 18px;
    color: #ecf0f1;
}

.sub-menu a:hover {
    color: #1abc9c;
}

.social-icons {
    font-size: 20px;
    color: #bdc3c7;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons:hover {
    color: #1abc9c;
}

input[type="checkbox"] {
    display: none;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.social-icons-wrapper {
    display: flex;
    justify-content: flex-end;
}

.nav-item .nav-link .fas {
    margin-left: 5px;
}

@media(max-width:768px) {

    .navbar-custom {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-brand {
        margin-bottom: 10px;
        text-align: center;
    }

    .navbar-nav {
        display: none;
        flex-direction: column;
        background-color: #2c3e50;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 20px;
    }

    .navbar-nav li {
        margin: 10px;
        text-align: center;
    }

    .navbar-nav a {
        font-size: 16px;
        color: #ecf0f1;
    }

    .navbar-toggler {
        display: block;
    }

    input[type="checkbox"]:checked ~ .navbar-collapse .navbar-nav {
        display: flex;
    }

    .sub-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100px;
        box-shadow: none;
    }

    .social-icons-wrapper {
        display: none;
        margin-top: 40px;
        flex-direction: column;
        z-index: 5;
    }

    .social-icons {
        margin: 20px 0 0 0;
    }

    input[type="checkbox"]:checked ~ .navbar-collapse .social-icons-wrapper {
        display: flex;
        justify-content: center;
    }
}
